*, *::before, *::after {
    padding: 0;
    margin: 0;
    font-size: 20PX;
    font-family: sans-serif;
}

html {
    --res: calc(0.01 * 10vmin);
    scroll-behavior: smooth;
}

body {
    background-color: #2a2a2c;
}

header {
    overflow: hidden;
    min-height: 25vh;
    background: #1c1c1e;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0px 0px 50px 50px;
}

header span.title {
    color: #fff;
    opacity: 0;
    margin: 10px;
    transform: scale(0);
    animation: fall 1s;
    font-weight: bold;
    animation-fill-mode: forwards;
    cursor: pointer;
}

header span.title#second {
    animation-delay: 0.1s;
}

section#language {
    overflow: hidden;
    min-height: 10vh;
    flex-wrap: wrap;
    display: flex;
    flex-direction: auto;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

section#language img {
    animation: fall 1s;
    animation-delay: 0.3s;
    margin: 20px;
    padding: 10px;
    height: 48px;
    width: 48px;
    cursor: pointer;
    background: #1c1c1e;
    border-radius: 5px;
}

section#language img:nth-child(2n)
{
    animation-delay: 0.32s;
}

section#language img.active {
    background: radial-gradient(#103a75, #2643aa);
    transform: translateY(-10px);
}

section#language img:hover {
    transform: translateY(-5px);
}

section#projects {
    overflow: hidden;
    min-height: 5vh;
    background: #1c1c1e;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

section#projects div.error {
    min-height: 10vh;
    width: 90vw;
    background: crimson;
    margin: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

section#projects div.error span.errmsg {
    color: #fff;
    font-size: 50px;
}

section#projects div.project {
    min-height: 10vh;
    width: 90vw;
    background: #2a2a2c;
    margin: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

section#projects div.project .proj
{
    display: flex;
    min-width: 45vw;
    max-width: 45vw;
    flex-direction: column;
}

section#projects div.project .proj span {
    margin: 20px;
    text-decoration: none;
    color: #fff;
}

section#projects div.project .btns
{
    min-width: 45vw;
    max-width: 45vw;
    display: flex;
    flex-direction: column;
}

section#projects div.project .btns a.btn
{
    font-size: calc(32 * var(--res));
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 20px;
    min-height: 100px;
    min-width: 100px;
    background: radial-gradient(#6a1cbc, #2643aa);
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

section#projects div.project .btns span.btn
{
    font-size: calc(32 * var(--res));
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 20px;
    min-height: 100px;
    min-width: 100px;
    background: radial-gradient(#3a434f, #3e4048);
    text-decoration: none;
    color: #313234;
    cursor: pointer;
}

@keyframes fall {
    from {
        opacity: 1;
    }
    50% {
        font-size: 40px;
        transform: translateY(0);
    }
    65% {
        transform: translateY(25px);
    }
    70% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(15px);
    }
    80% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        font-size: calc(64 * var(--res));
        transform: translateY(0);
    }
}